@import "styles/Variaveis.scss";

.box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 15rem;
  margin-inline: 5rem;
}
body {
  background-color: $baseForm;
}

#btnPerfil {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: .5rem;
  margin-bottom: 3rem;
}

#addPerfil {
  background: $btnDetails;
  border-radius: 5px;
  margin-bottom: .5rem;
  border: none;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 0.5rem 2.5rem;
  transition: all 0.5s;
  width: 150px;

  &:hover {
    background: linear-gradient(
      34deg,
      rgba(141, 136, 152, 0.9) 19%,
      rgba(134, 183, 199, 0.9) 49%,
      rgba(83, 218, 144, 0.9) 90%
    );
    font-size: 1.2rem;
    padding: 0.5rem 2.5rem;
  }

}



