@import '../../styles/Variaveis.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $baseBg2;


    .logo{
    margin-left: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    background-image: $logoColor;
    color: blue;
    background-clip: text ;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    }

    .menu{
        margin-right: 2rem;
    }

}

