$primaryColor: #6CEA69;
$secondaryColor: #E26B6B;

$shadowColor: #6CEA69;

$baseBg1: #252836;
$baseBg2: #1F1D2B;
$baseForm: #2D303E;
$baseLine: #393C49;

$textColor: #ffffff;
$textLighter: #E0E6E9;
$textLight: #ABBBC2;
$textNeutral: #889898;
$textDark: #3B5162;


$logoColor:linear-gradient(34deg, rgba(136,152,152,1) 19%, rgba(171,187,194,1) 49%, rgba(83,113,195,1) 90%);

$nomePerfil:linear-gradient(34deg, rgba(3,182,177,1) 11%, rgba(95,195,83,1) 49%, rgba(187,0,210,1) 81%);