$primaryColor: #6CEA69;
$secondaryColor: #E26B6B;



$shadowColor: #6CEA69;

$baseBg1: #252836;
$baseBg2: #1F1D2B;
$baseForm: #2D303E;
$baseLine: #393C49;

$textColor: #ffffff;
$textLighter: #E0E6E9;
$textLight: #ABBBC2;
$textNeutral: #889898;
$textDark: #3B5162;

$logoColor:linear-gradient(25deg, rgba(5,99,198,1) 16%, rgba(3,182,120,1) 47%, rgba(1,193,170,1) 66%, rgba(0,202,210,1) 81%);