@import "styles/Variaveis.scss";

.box1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  transition: all 0.5s;

  &:hover {
    border: 1px solid gray;
    border-radius: 25px;
    background-color: rgb(79, 103, 127);
    cursor: pointer;
    width: 180px;
  }
}

.foto {
  padding: 0.5rem;
  img {
    width: 150px;
  }
}
.nome {
  background-image: $nomePerfil;
  background-clip: text;
  color: blue;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
