@import "styles/Variaveis.scss";

.box1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  transition: all 0.5s;

  &:hover {
    border: 1px solid gray;
    border-radius: 25px;
    background-color: rgb(79, 103, 127);
    cursor: pointer;
    width: 180px;
  }
}

.foto {
  padding: 0.5rem;
  img {
    width: 150px;
  }
}
.nome {
  background-image: $nomePerfil;
  background-clip: text;
  color: blue;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnDetails {
  background: $btnDetails;
  border-radius: 5px;
  margin-bottom: .5rem;
  border: none;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 0.5rem 2.5rem;
  transition: all 0.5s;
  width: 150px;

  &:hover {
    background: linear-gradient(
      34deg,
      rgba(141, 136, 152, 0.9) 19%,
      rgba(134, 183, 199, 0.9) 49%,
      rgba(83, 218, 144, 0.9) 90%
    );
    font-size: 1.2rem;
    padding: 0.5rem 2.5rem;
  }
}